:root {
    --main-color: #7c83fd;
    --color-dark: #1d2231;
    --text-grey: #8390a2;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
  }
  
  .sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    z-index: 100;
  }
  .sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
  }
  .sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
  }
  .sidebar-menu {
    margin-top: 1rem;
  }
  .sidebar-menu li {
    width: 100%;
    margin-bottom: 1rem;
  }
  .sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
  }
  
  .sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
  }
 
  
  .sidebar-menu a i:first-child {
    font-size: 1.3rem;
    padding-right: 1rem;
  }
  .main-content {
    margin-left: 345px;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
  }
  header h2 {
    color: #222;
  }
  header label span {
    font-size: 1.7rem;
    padding-left: 1rem;
  }
  .search-wrapper {
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 40px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
  }
  .search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
  }
  .search-wrapper input {
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
  }
  .user-wrapper {
    display: flex;
    align-items: center;
  }
  .user-wrapper img {
    border-radius: 50%;
    margin-right: 1rem;
  }
  .user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
  }
  main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
  }

  .subject-section button{
      align-self: flex-end;
      height:30px !important; 
  }

